.title {
    background: #ff9999;
    margin: 0px;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
}

/* .root {
    display: flex;
    flex-wrap: nowrap;
}

.gridList{
    display:flexbox;
    flex-flow: row;   
    align-items: baseline;
    overflow-y:none;
    overflow-x:scroll ;
    transform: translateZ(0);
}

.titleBar {
    background: -moz-linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%);
} */

.ImageSettings{
    width: 100%; 
    height: 25%;
    
}

/* .grid-component {
    display:flexbox;
    justify-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
}

.grid-tile {
    display:inline-flex;
     flex-flow: nowrap;
    column-count: 6;
   
    
}
.Movie-Poster{
    background-size: contain;
    display: grid;
    flex-wrap:inherit;
    height: 250;
} */