.title {
    background: #ff9999;
    margin: 0px;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
}

.grid-component {
    display:flexbox;
    justify-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
}

.grid-tile {
    display:inline-flex;
     flex-flow: nowrap;
    column-count: 6;
   
    
}
.Movie-Poster{
    background-size: contain;
    display: grid;
    flex-wrap:inherit;
    height: 250;
}
